---
import GridDescription from "./GridDescription.astro";
import GridCard from "./GridCard.astro";
---

<section class="relative z-40 max-w-[1300px] px-[20px] mx-auto max-sm:px-[10px]">
    <GridDescription />
    <ul class="flex gap-[20px] max-lg:flex-col max-sm:gap-[20px]">
        <li class="w-[33%] max-lg:w-full flex justify-center items-center">
            <GridCard
                particle="/slider-paraticula-montaña-1.avif"
                img="/grid1.jpg"
                title="bmc"
                subTitle="Cuatro tiempos"
                titleOpacity="Bicicleta de montaña"
             />
        </li>
        <ul class="w-[33%] max-lg:w-full flex flex-col gap-[20px]">
            <li class="w-full flex justify-center items-center">
                <GridCard
                    particle="/slider-particula-grava-1.avif"
                    img="/grid2.jpg"
                    title="bmc"
                    subTitle="Kautis cuatro tiempos"
                    titleOpacity="Bicicleta de grava"
                 />
            </li>
            
            <li class="w-full flex justify-center items-center">
                <GridCard
                    particle="/slider-particula-electrica-2.avif"
                    img="/grid3.jpg"
                    title="huyser"
                    subTitle="Reseda Verde"
                    titleOpacity="Bicicleta electrica"
                 />
            </li>
        </ul>
        <li class="w-[33%] max-lg:w-full flex justify-center items-center">
            <GridCard
                particle="/slider-particula-carretera-2.avif"
                img="/grid4.jpg"
                title="guerciotti"
                subTitle="Italo 105 d12"
                titleOpacity="Bicicleta de carretera"
             />
        </li>
    </ul>
</section>

