---
import GridDescription from "./GridDescription.astro";
import GridCard from "./GridCard.astro";
---

<section class="relative z-40 max-w-[1300px] px-[20px] mx-auto max-sm:px-[10px]">
    <GridDescription />
    <ul class="flex gap-[20px] max-lg:flex-col max-sm:gap-[20px]">
        <li class="w-[33%] max-lg:w-full flex justify-center items-center">
            <GridCard />
        </li>
        <ul class="w-[33%] max-lg:w-full flex flex-col gap-[20px]">
            <li class="w-full flex justify-center items-center">
                <GridCard />
            </li>
            
            <li class="w-full flex justify-center items-center">
                <GridCard />
            </li>
        </ul>
        <li class="w-[33%] max-lg:w-full flex justify-center items-center">
            <GridCard />
        </li>
    </ul>
</section>

