---
---

<section class="relative bg-[#e23252] pb-[200px]">
    <!-- STICKY -->
    <article class="sticky top-[50%] translate-y-[-50%] max-w-[700px] mx-auto px-[20px] text-[#f4f2f0] z-30">
        <h4 class="text-[4.4rem] leading-[60px] text-center max-sm:text-[1.5rem] max-sm:leading-[25px]">Eres un apasionado por el ciclismo ?</h4>
    </article>
    
    <!-- LIST IMG -->
     <ul class="flex flex-col gap-[20px] w-full mt-[900px] max-sm:mt-[600px] max-sm:gap-[10px] overflow-hidden">
        <li class="flex justify-center max-sm:justify-end px-[10px]">
            <img
                class="w-[400px] translate-x-[60%] max-sm:w-[50%] max-sm:translate-x-0" 
                src="/blog1.webp" 
                alt="img">
        </li>
        <li class="flex justify-center max-sm:justify-start px-[10px]">
            <img
                class="w-[250px] translate-x-[-200%] max-sm:w-[30%] max-sm:translate-x-0" 
                src="/blog2.webp" 
                alt="img">
        </li>
        <li class="flex justify-center max-sm:justify-end px-[10px]">
            <img
                class="w-[400px] translate-x-[150%] max-sm:w-[50%] max-sm:translate-x-0" 
                src="/blog3.webp" 
                alt="img">
        </li>
        <li class="flex justify-center max-sm:justify-start px-[10px]">
            <img
                class="w-[500px] translate-x-[-150%] rounded-[25px] max-sm:w-[40%] max-sm:translate-x-0" 
                src="/blog4.webp" 
                alt="img">
        </li>
        <li class="flex justify-center max-sm:justify-end px-[10px]">
            <img
                class="w-[200px] translate-x-[150%] rounded-[25px] max-sm:w-[30%] max-sm:translate-x-0" 
                src="/blog5.webp" 
                alt="img">
        </li>
     </ul>

</section>

<style>
    section{
        background-image: url("/blog.webp");
        background-size: cover;
        background-position: center;
        background-position-y: -150px;
    }
</style>