---
---

<a 
    class="relative block h-[25px] overflow-hidden"
    href="#">
    <span class="relative block transition-all duration-200">Tienda</span>
    <span class="relative block transition-all duration-200">Tienda</span>
</a>

<style>
    a:hover span:nth-child(1){
        transform: translateY(-100%)
    }
    a:hover span:nth-child(2){
        transform: translateY(-100%)
    }
    @media screen and (max-width: 600px){
        a{
            height: 17px;
        }
        
    }

</style>