---
import Btn from "./Btn.astro";
---

<header class="fixed w-full top-0 z-50 p-[20px] max-sm:p-[10px]">
    <nav class="flex items-center justify-between">
        <ul>
            <li>
                <Btn />
            </li>
        </ul>
        <ul>
            <li>
                <a href="">
                    <img
                        class="w-[60px] max-sm:w-[35px]" 
                        src="/logo.avif" 
                        alt="logo">
                </a>
            </li>
        </ul>
        <ul>
            <li>
                <Btn />
            </li>
        </ul>
    </nav>
</header>