---
interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/logo.avif" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<slot />
		<div class="puntero absolute w-[100px] h-[100px] bg-red-600"></div>
	</body>
</html>
<style is:global>
	@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,200..800&family=Edu+AU+VIC+WA+NT+Hand:wght@400..700&family=Quicksand:wght@403&display=swap');
	*{
		font-family: "Bricolage Grotesque", sans-serif;
	}
	h1{
		font-size: 10rem;
		line-height: 145px;
		font-weight: bold;
		background-image: linear-gradient(180deg, #c2c2c2, #f5dfcd);
		-webkit-background-clip: text;
		color: transparent;
	}
	h3{
		font-size: 2.5rem;
		line-height: 35px;
	}
	body{
		background-color: #f4f2f0;
		color: #333;
	}
	a,p{
		font-size: 18px;
	}
	@media screen and (max-width: 800px){
		h1{
			font-size: 3rem;
			line-height: 40px;
		}
		svg{
			width: 15px;
			height: 15px;
		}
	}
	@media screen and (max-width: 600px){
		a,p{
			font-size: 12px;
		}

	}
</style>
