---
---

<ul class="flex gap-[20px] h-[25vw] max-sm:gap-[10px] max-sm:h-[30vw]">
    <li class="h-full block relative">
        <img 
            class="h-full w-auto block relative" 
            src="/repuestos-slider1.webp" 
            alt="componentes slider">
    </li>
    <li class="h-full block relative">
        <img 
            class="h-full w-auto block relative" 
            src="/repuestos-slider2.webp" 
            alt="componentes slider">
    </li>
    <li class="h-full block relative">
        <img 
            class="h-full w-auto block relative" 
            src="/repuestos-slider3.webp" 
            alt="componentes slider">
    </li>
    <li class="h-full block relative">
        <img 
            class="h-full w-auto block relative" 
            src="/repuestos-slider6.webp" 
            alt="componentes slider">
    </li>
    <li class="h-full block relative">
        <img 
            class="h-full w-auto block relative" 
            src="/repuestos-slider5.webp" 
            alt="componentes slider">
    </li>
    <li class="h-full block relative">
        <img 
            class="h-full w-auto block relative" 
            src="/repuestos-slider7.webp" 
            alt="componentes slider">
    </li>
</ul>